<% include partials/head %>

    <h1>
        <%= title %>
    </h1>
    <p>Hi. I'm Jeremy Uriz. This was the final student project complted for the Code Career Academy Frontend Dev Course. For a frontend course it contained a significant amount of backend work with Node and Express.</p>
    <p>The focus of this project was to build a functional blog with CRUD functionality. I am writing this well after the fact and can say I did not figure out how to add Update and Detele functionality. Thankfully I know how to do this now!</p>

    <% include partials/foot %>