body {
    padding: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul li {
    display: inline;
    padding: 0 1.5rem 0 1.5rem;
}

li {
    list-style: none;
    padding: 5px;
}

a {
    font-size: 1.5rem;
    color: #3C5163;
}

a.hover {
    color: #8BBCE8;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 10px;
    flex: 1 100%;
    border: 1px solid;
    border-radius: 5px;
    background-image: linear-gradient(#424242, #2b2a2a);
    color: white;
}